{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подвал</title>
    <style>
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        h2 {
            margin: 10px 0;
            font-size: 1.5em;
        }

        p {
            margin: 5px 0;
            font-size: 1em;
        }
    </style>
</head>
<body>
<footer>
    <h2>РОСБИОТЕХ</h2>
    <p>Кафедра: Информационных технологий</p>
    <p>Группа: 21-ИУ-3</p>
    <p>Контакты: info@mgupp.ru</p>
    <p>&copy; 2024 РОСБИОТЕХ. Все права защищены.</p>
</footer>
</body>
</html>
