{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навигация</title>
    <style>
        nav {
            display: block;
            padding: 10px;
            background-color: #333;
            width: 100%;
        }

        a {S
            display: block;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            padding: 10px 0;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<nav>
    <a href="{% url 'home3' %}" target="contentFrame">Общие сведения</a>
    <a href="{% url 'fam3' %}" target="contentFrame">Семья</a>
    <a href="{% url 'sport3' %}" target="contentFrame">Спорт</a>
    <a href="{% url 'cs3' %}" target="contentFrame">Киберспорт</a>
    <a href="{% url 'plains3' %}" target="contentFrame">Перелеты, поезда</a>
    <a href="{% url 'frames' %}" target="_top">Задание 1</a>
    <a href="{% url 'frames3' %}" target="_blank">Задание 3</a>
</nav>
</body>
</html>
