{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Структура сайта</title>
    <link rel="stylesheet" href="{% static 'conprogs/css/styles_lab6_3.css' %}">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="logo"><img src="{% static 'conprogs/images/logo.png' %}" alt="Логотип" width="80"></div>
        <div class="site-name"><b>MY LIFE</b></div>
        <div class="auth">Авторизация</div>
    </div>

    <div class="menu-top">
        <a href="{% url 'index_3_lab6' %}">Общие сведения</a>
        {% for m in menu %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
        {% endfor %}
    </div>

    <div class="left-menu">
        <div class="menu-item">
            {% for m in menu_cat %}
            <div><a href="{% url m.url_name %}">{{ m.title }}</a></div>
            {% endfor %}
        </div>
        <div class="menu-item"><h2>Опрос о спортсмене</h2>
            <form>
                <div class="question">
                    <p>Считаете ли вы себя спортсменом?</p>
                    <div class="buttons">
                        <label>
                            <input type="radio" name="athlete" value="yes"> Да
                        </label>
                        <label>
                            <input type="radio" name="athlete" value="no"> Нет
                        </label>
                    </div>
                </div>

                <div class="question">
                    <p>Занимаетесь ли вы спортом регулярно?</p>
                    <div class="buttons">
                        <label>
                            <input type="radio" name="regular" value="yes"> Да
                        </label>
                        <label>
                            <input type="radio" name="regular" value="no"> Нет
                        </label>
                    </div>
                </div>

                <div class="question">
                    <p>Участвовали ли вы когда-либо в соревнованиях?</p>
                    <div class="buttons">
                        <label>
                            <input type="radio" name="competitions" value="yes"> Да
                        </label>
                        <label>
                            <input type="radio" name="competitions" value="no"> Нет
                        </label>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>
        <div class="menu-item"><img src="{% static 'conprogs/images/img_13.png' %}" alt="Фото" width="500"></div>
    </div>

    <div class="content">
        <div class="banner">
            <img src="{% static 'conprogs/images/img_11.png' %}" alt="Баннер" style="width: 100%; height: 100%;">
        </div>
        <div class="content-photo-container">
            <div class="content-photo">
                <img src="{% static 'conprogs/images/img_3.png' %}" alt="Фото">
            </div>
            <div class="content-photo-text">
                <p><b>Описание фотографии:</b> Фотография 22.04.2023</p>
            </div>
        </div>
        <div class="content-text">
            <p style="font-family: 'Verdana', sans-serif; font-size: 18px; text-align: justify; color: #34495e;">
                <strong>Начало.</strong> Мое увлечение компьютерным спортом началось с отца. Он начал играть в
                <s>CS 1.6</s> и <span style="color: #2980b9;">World of Tanks</span>. Я начал играть вместе с
                ним. Мы буквально боролись за игровое время. Он был моим наставником и командиром. Мы были в
                топе сильных игроков нашего города. Мы создали свой взвод и участвовали в местных турнирах.
                Занимали призовые места.
            </p>

            <p style="font-family: 'Times New Roman', serif; font-size: 20px; text-align: left; color: #c0392b;">
                <em>Новая глава.</em> Далее на горизонте появился <u>Warface</u>. Игра сильно привлекла мой
                интерес и забрала достаточно свободного времени. С друзьями мы были в топ 100 мира. Мы
                тренировались, побеждали на турнирах. Посещали турниры в других городах. Некоторые из нас
                заключали контракты с крупными организациями и поставили свою жизнь на киберспорт.
            </p>

            <p style="font-family: 'Courier New', monospace; font-size: 16px; text-align: right; color: #16a085; background-color: lightgray; border: 1px solid #e74c3c;">
                <strong>Футбол вне поля?</strong> Радость от крутых игроков, победы на турнирах, поражения в
                финале. Да, все это о футболе, но в данном случае виртуальном.
                <mark>Схемы, тактики, тренировки</mark>
                , все это было внутри игровой приставки. Грубо говоря, это жизнь в цифровом пространстве. Играя
                с людьми по всему миру, ты набираешься опыта, далее повышаешь квалификацию и участвуешь в
                международных турнирах с чемпионами мира и Европы.
            </p>

            <p style="font-family: 'Arial', sans-serif; font-size: 22px; text-align: justify; color: #d35400; border: 2px solid #9b59b6;">
                <del>Не каждый выстрел вне закона.</del>
                В игру <em>Counter-Strike</em> мне было войти достаточно легко, имея опыт игры в <u>Warface</u>.
                Изначально это было для проведения досуга, далее это переросло во что-то большее. Попал в
                вузовскую команду по <strong>CS</strong>. Онлайн турниры, разлады и победы. Интересная глава в
                жизни. Игра для миллионов людей по всему миру.
            </p>

            <p style="font-family: 'Georgia', serif; font-size: 24px; text-align: center; color: #8e44ad; border: 3px solid #34495e;">
                <strong>Может хватит?</strong> Тяжело найти человека младше 30 лет, который ни разу не слышал об
                игре <span style="text-decoration: underline;">Dota 2</span>. Игра забирает нервы, силы,
                желание, но ты все равно каждый раз возвращаешься и пытаешься доказать себе в первую очередь.
                Командные игры всегда будут интересны. В первую очередь это способ социализации. Именно в этой
                игре я понял, что каждый человек – индивид, и не все люди во время игры похожи на себя в
                реальной жизни.
            </p>
        </div>
    </div>

    <div class="right-menu">
        <div class="info-item">Солнечный свет - он весит что-нибудь?
            Ответ: <b>Да</b>.
            Объяснение: Солнечный свет состоит из фотонов, несущихся от Солнца к Земле. Масса общего света, попадающего
            на Землю, составляет 3,7 * 10 в 24-й степени кг. В солнечный день город Чикаго весит на 140 кг больше, чем в
            пасмурный, - и всё из-за того, что на него падает столько света.
        </div>
        <div class="info-item"><img src="{% static 'conprogs/images/img_12.png' %}" alt="Фото" width="300"></div>
    </div>

    <div class="menu-bottom"><a href="{% url 'index_1_lab5' %}">Общие сведения</a>
        {% for m in menu %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
        {% endfor %}
    </div>

    <div class="footer">
        <p>&copy; 2024 Лысенков Филипп</p>
        <div class="footer-info">
            <p>Внешние ссылки:</p>
            <p><a href="https://mgupp.ru">Ссылка на РОСБИОТЕХ</a></p>
        </div>
    </div>
</div>

</body>
</html>
