{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перелеты, поезда</title>
    <link rel="stylesheet" href="{% static 'conprogs/css/styles_lab6.css' %}">
</head>
<body>

<div class="header">
    Название сайта: MY LIFE | Автор: Лысенков Филипп Сергеевич
</div>

<div class="container">

    <div class="nav">
        <a href="{% url 'index_1_lab6' %}">Общие сведения</a>
        {% for m in menu %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
        {% endfor %}
    </div>

    <div class="content">
        <div class="content-wrapper">
            <div class="title">
                Перелеты, поезда
            </div>
            <div class="content-table">
                <div class="image-col">
                    <img src="{% static 'conprogs/images/img_4.png' %}" alt="Фото" style="max-width: 100%; height: auto;">
                    <img src="{% static 'conprogs/images/img_5.png' %}" alt="Фото" style="max-width: 100%; height: auto;">
                </div>
                <div class="text-col">
                    <p>
                        <strong><em>Родственники.</em></strong> <u>Я посетил немало городов</u> внутри России. Моих
                        родственников раскидало по необъятной. Я посещал их в Саратове, Самаре, Пензе, Санкт-Петербурге.
                        И это только
                        часть моих родственников. Каждый город уникален, не только своим внешним видом, но и людьми.
                        Любой город,
                        каким бы он ни был, запомнился мне чем-то определенным. Одна река Волга чего стоит.
                    </p>

                    <p>
                        <strong>Работа.</strong> Я был в командировках в городах Владимир, Новосибирск и Омск. Как
                        говорил ранее, каждый город имеет свои особенности. Владимир, хоть и достаточно тихий город, но
                        его красота,
                        постройки, парки, церкви, история, все это отличает его от остальных. Омск достаточно большой
                        город, как
                        Красноярск или Новосибирск. Город живет хоккеем. Сибиряки все одинаковы.
                    </p>

                    <p>
                        <u><em>Жара.</em></u> Турция, Тайланд, многие россияне любят данные направления для отдыха. Я со
                        своей семьей не раз был в этих двух странах. Свои культуры, свои люди, свои обычаи и
                        достопримечательности.
                        Море. Каждый город или остров в этих двух странах отличается от предыдущего. Свои правила и свой
                        менталитет. Сама
                        атмосфера этих стран тебя расслабляет.
                    </p>

                    <p>
                        <strong>Сочи.</strong> Одно из любимых моих мест. В этом городе я посетил первый свой большой
                        футбольный матч, кубок конфедераций. Отличная атмосфера, хороший футбол, прекрасная программа до
                        и после матч,
                        невероятная погода. Черное море поистине прекрасно. Вечерние прогулки на катере или пешком, на
                        электросамокате или мотоцикле. Сочи заметно отличается от других русских городов.
                    </p>

                    <p>
                        <u>Казань.</u> Прекрасный город, иная культура. Красота города не сравнима ни с чем. Также я
                        посетил в этом городе свой первый в жизни матч чемпионата мира по футболу. Десятки тысяч людей,
                        стадион гудит,
                        город не спит. Один из лучших городов, что я посещал.
                    </p>

                    <p>
                        Конец? Наконец, переезд в Москву. Город, о котором можно говорить бесконечно. Красота сочетается
                        с серостью всех российских городов, количество людей соизмеримо стране, как и возможности. До
                        переезда я посещал
                        Москву туристом, но быть полноценным жителем и туристом далеко разные вещи.
                    </p>

                    <p>
                        <s>Недавно.</s> Всегда хотел побывать в Калининграде. Город очень сильно выделяется на фоне
                        остальных российских городов. Во-первых, своей инфраструктурой. Во-вторых, историей. Балтийское
                        море. В реальности, в отличие от фото,
                        невозможно оторвать глаз. Красивый город и хорошие люди.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>

</body>
</html>
