{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'conprogs/css/styles.css' %}">
    <link type="text/css" href="{% static 'conprogs/css/styles_unique.css' %}" rel="stylesheet"/>

</head>
<body>
<header>
    <h1>Семья</h1>
</header>
<ul>
    <li><a href="{% url 'home' %}">MAIN</a></li>
    {% for m in menu %}
    <li class="last">
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<section>
    <img src="{% static 'conprogs/images/img_1.png' %}" alt="Фото" style="width:300px;height:auto;">
    <p class="section6">
        <span class="italic">Чем больше мы живем, тем больше мы хотим.</span> У меня есть две бабушки и дедушка. Бабушка
        с дедушкой живут в
        городе Ужур, Красноярский край. Пытаюсь бывать у них почаще. <span class="underline">Бабушка готовит вкусные пирожки и пельмени.</span>
        Дедушка хороший рыбак. Я их внук. Еще одна бабушка живет в Красноярске. Ее муж, мой дедушка, был деканом
        педагогического университета в городе Красноярск. Умер до моего рождения.
    </p>

    <p class="section7">
        <span class="bold">Завтра не наступит, если не уснуть.</span> Этот абзац о моем отце. В возрасте 18 лет я
        потерял отца.
        <span class="underline">Человека лучше не найти.</span> Пройти путь от города с населением около пятидесяти
        тысяч до инженера в городе миллионике
        дорого стоит. Множество непоправимых и тяжелых ситуаций на его пути, не сломали его, и он оставался добр ко
        всем, закрывал свою семью спиной.
    </p>

    <p class="section8">
        <span class="italic">Что для тебя красота?</span> Для меня это моя мама. Женщина невиданной красоты и сильного
        стержня. Она проделала
        огромный путь к тому, кем она сейчас является. В отношении меня мама всегда держала баланс между чувствами и
        здравым мышлением. Я думаю, что её труд окупится. <span class="strike">Она, как и все в моей семье, великий человек.</span>
        Трудности
        не сломали никого.
    </p>

    <p class="section9">
        <span class="bold">Не без греха.</span> Тихон — кот, который появился в последний год моего постоянного
        пребывания в городе
        Красноярск. Красивый. Полноценный член семьи. Как и все, до сих пор помнит и переживает потерю главы нашей
        семьи. <span class="italic">Учится разговаривать.</span> Защитник. Характер тяжелый. Любит вкусно поесть,
        поспать и поиграть в 5
        утра. Любит маму и бабушку.
    </p>

    <p class="section10">
        <span class="italic">Еда.</span> Все в моей семье вкусно готовят. Упоминал ранее бабушкины пирожки. Отец любил
        разного рода кухни. От
        паназиатской до итальянской. Все умел готовить. Навыки хорошего шеф-повара в нем очень сильно отражались.
        Бабушка по линии матери готовит вкусный домашний борщ и щи. Варит всегда на 20 человек. Всю жизнь звал к себе
        друзей вкусно пообедать.
    </p>

</section>
<div class="navigation">
    <a href="{% url 'home' %}" class="nav-button" title="Назад">&lt;&lt; Назад</a>
    <a href="{% url 'sport' %}" class="nav-button" title="Вперёд">Вперёд &gt;&gt;</a>
</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>

</body>
</html>