{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link type="text/css" href="{% static 'conprogs/css/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'conprogs/css/styles_unique.css' %}" rel="stylesheet"/>
</head>
<body>
<h1>Общие сведения</h1>
<ul>
    <li><a href="{% url 'home' %}">MAIN</a></li>
    {% for m in menu %}
    <li class="last">
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<img src="{% static 'conprogs/images/img.png' %}" alt="Фото" width="300">


<p class="section1">
    <span class="bold">Меня зовут Лысенков Филипп Сергеевич.</span> Место рождения: город Красноярск, Красноярский край. Время рождения:
    08:47 по местному времени (+4 от московского времени). <span class="underline">Дата рождения: двадцать второе апреля две тысячи третьего
    года.</span> Знак зодиака: телец. Воспитывался в полной семье. Разница в возрасте с родителями 30 лет. В детстве у меня
    был электрический квадроцикл.
</p>

<p class="section2">
    <span class="italic">Первое место жительства:</span> квартира по улице Софьи Ковалевской. Второе место жительства: квартира в центре
    города напротив Красной Площади. На второй квартире я получил свой первый ожог — дотронулся до горячего утюга. <span class="bold">Третье
    и крайнее в городе Красноярск мое место жительства:</span> квартира по адресу Новая Заря 25. В детском саду начал
    заниматься тхэквондо. Впоследствии получил приглашение в школу олимпийского резерва.
</p>

<p class="section3">
    <span class="bold">Школа.</span> Первого сентября две тысячи десятого года я пошел в первый класс в школу «Гимназия №3». В это же время
    посетил свою первую тренировку по футболу. Первый класс окончил с одной тройкой. Школа с углубленным изучением
    английского, французского и немецкого языков. Со второго класса почувствовал тягу к знаниям языков. Между
    французским и немецким выбрал французский.
</p>

<p class="section4">
    В 8 классе перешел в новую школу: «Гимназия №1 Универс». Там получил среднее образование. Выступал за школьные
    команды по футболу. Ничего стоящего не выиграл. Параллельно занимался футболом в местной академии. Соревновались в
    разных городах, с разными по уровню соперниками. Многократный чемпион Красноярского края по футболу и мини-футболу.
    Призер чемпионатов Сибири и других больших турниров.
</p>

<p class="section5">
    <span class="italic">Всегда интересовался музыкой.</span> Читаю книги в основном британских авторов. <span class="bold">Не женат, хотя склоняют.</span> Нет
    детей, рано. Есть работа. Не привлекался к административной или уголовной ответственности. Нет клички или погоняла.
    Прохожу периодические медицинские обследования. Люблю кошек и котов. <span class="underline">Нет четкого вероисповедания.</span> Жизнь —
    лучший драматург.
</p>

<div class="navigation">
    <a href="{% url 'fam' %}" class="nav-button" title="Вперёд">Вперёд &gt;&gt;</a>
</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>


</body>
</html>