{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перелеты, поезда</title>
</head>
<body>

<header>
    <h1>Перелеты, поезда</h1>
</header>
<ul>
    <li><a href="{% url 'home' %}" style="color: green;">MAIN</a></li>
    {% for m in menu %}
    <li class="last">
        <a href="{% url m.url_name %}" style="color: purple;">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<section>
    <p style="font-family: Arial; font-size: 1.6em; color: darkblue; background-color: lightgray; text-align: justify;">
        <strong><em>Родственники.</em></strong> <u>Я посетил немало городов</u> внутри России. Моих родственников
        раскидало по необъятной. Я посещал их в Саратове, Самаре, Пензе, Санкт-Петербурге. И это только часть моих
        родственников. Каждый город уникален, не только своим внешним видом, но и людьми. Любой город каким бы он ни был
        запомнился мне чем-то определенным. Одна река Волга чего стоит.
    </p>
    <p style="font-family: Courier New; font-size: 2.5em; color: green; background-color: lightyellow; text-align: center;">
        <strong>Работа.</strong> Я был в командировках в городах Владимир, Новосибирск и Омск. Как говорил раннее,
        каждый город имеет свои особенности. Владимир хоть и достаточно тихий город, но его красота, постройки, парки,
        церкви, история, все это отличает его от остальных. Омск достаточно большой город, как Красноярск или
        Новосибирск. Город живет хоккеем. Сибиряки все одинаковы.
    </p>
    <img src="{% static 'conprogs/images/img_4.png' %}" alt="Фото" style="width:300px;height:auto;">
    <p style="font-family: Times New Roman; font-size: 1em; color: purple; background-color: lightblue; text-align: left; text-indent: 20px;">
        <u><em>Жара.</em></u> Турция, Тайланд, многие россияне любят данные направления для отдыха. Я со своей семьей не
        раз был в этих двух странах. Свои культуры, свои люди, свои обычаи и достопримечательности. Море. Каждый город
        или остров в этих двух странах отличается от предыдущего. Свои правила и свой менталитет. Сама атмосфера этих
        стран тебя расслабляет.
    </p>
    <p style="font-family: Arial; font-size: 1.2em; color: navy; text-align: right;">
        <strong>Сочи.</strong> Одно из любимых моих мест. В этом городе я посетил первый свой большой футбольный матч,
        кубок конфедераций. Отличная атмосфера, хороший футбол, прекрасная программа до и после матч, невероятная
        погода. Черное море поистине прекрасное. Вечерние прогулки на катере или пешком, на электросамокате или
        мотоцикле. Сочи заметно отличается от других русских городов.
    </p>
    <p style="font-family: Courier New; font-size: 1.5em; color: darkorange; background-color: lightgray; text-align: justify;">
        <u>Казань.</u> Прекрасный город, иная культура. Красота города не сравнима ни с чем. Также я посетил в этом
        городе свой первый в жизни матч чемпионата мира по футболу. Десятки тысяч людей, стадион гудит, город не спит.
        Один из лучших городов, что я посещал.
    </p>
    <p style="font-family: Times New Roman; font-size: 1.4em; color: teal; background-color: lightyellow; text-align: left;">
        Конец? Наконец, переезд в Москву. Город, о котором можно говорить бесконечно. Красота сочетается с серостью всех
        российских городов, количество людей соизмеримо стране, как и возможности. До переезда я посещал Москву
        туристом, но быть полноценным жителем и туристом далеко разные вещи.
    </p>
    <p style="font-family: 'Times New Roman'; font-size: 1.2em; color: blue; text-indent: 20px;"><s>Недавно.</s> Всегда
        хотел побывать в Калининграде. Город очень сильно выделяется на фоне остальных российских городов. Во-первых,
        своей инфраструктурой. Во-вторых историей. Балтийское море. В реальности, в отличие от фото, невозможно оторвать
        глаз. Красивый город и люди хорошие. </p>
    <img src="{% static 'conprogs/images/img_5.png' %}" alt="Фото" style="width:300px;height:auto;">
</section>
<div class="navigation">
    <a href="{% url 'cs' %}" class="nav-button" title="Назад">&lt;&lt; Назад</a>
</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>

</body>
</html>
