{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спорт</title>
</head>
<body>

<header>
    <h1>Спорт</h1>
</header>

<section>
    <p style="text-align: justify; font-size: 18px; color: #4682b4; font-family: 'Verdana'; background-color: #f7f1e5;">
        <i>Бей своих чтобы чужие боялись.</i> Как говорил ранее, с 6 лет занимался <strong>тхэквондо</strong>. Призер
        Сибирских, победитель краевых и участник всероссийских соревнований. Тренировался в школе олимпийского резерва.
        <u>Травмы</u> и большая любовь к футболу закончили мое выступление в данной дисциплине. Большое уважение к
        тренеру за его вложения в меня.
    </p>
    <p style="margin-left: 20px; text-align: left; font-size: 22px; color: #8b0000; font-family: 'Georgia'; background-color: #CC0000;">
        <b>Профессионал?</b> Почти каждый мальчик, который влюбляется в футбол, хочет однажды оказаться на большом
        европейском стадионе в числе двадцати двух игроков. Победы и поражения чередовались с травмами, слезами и
        тяжелыми тренировками. По окончанию детско-юношеской школы, мне предложили подписать контракт с местной
        полупрофессиональной командой. <s>Отказался.</s>
    </p>
    <p style="text-align: center; font-size: 20px; color: #2e8b57; font-family: 'Times New Roman', serif; background-color: #F0711C;">
        <u>Футбол и Москва.</u> Детство и юношество в футболе были как одно большое кино. Сильная и сплоченная команда.
        Футбол в Москве начался с попадания в сборную РосБиоТеха. Впоследствии, как и по сей день, я стал капитаном
        команды. Все бумажные и не только вопросы решаю лично. На поле тоже нужно оставаться лидером. Мы строим новую
        систему.
    </p>
    <img src="{% static 'conprogs/images/img_2.png' %}" alt="Фото" style="width:300px;height:auto;">
    <p style="margin-right: 25px; text-align: justify; font-size: 18px; color: #191970; font-family: 'Arial';">
        <b>Успех не за горами.</b> Формирование команды заняло почти два года. Наконец мы получили готовый состав. Парни
        готовы бороться за каждый мяч и каждую минуту. Сейчас мы строим систему вокруг команды. Постоянные турниры,
        тренировки, медиа развитие. Мы голодны до побед. Нам еще есть что доказывать. Мы хотим, чтобы футбол в нашем
        университете жил.
    </p>
    <p style="text-align: left; margin-left: 15px; font-size: 20px; color: #daa520; font-family: 'Verdana'; background-color: #FDA83D;">
        <i>Любитель.</i> Москва как мегаполис имеет множество возможностей, в том числе и спортивных. Любительские лиги
        в Москве на высоком уровне. Возможно, даже сыграешь когда-нибудь со своими кумирами детства. Футбол живет, когда
        им занимаются. Любительский футбол в Москве подарил мне возможность поддерживать форму и получать постоянную
        игровую практику.
    </p>

</section>
<div class="navigation">
    <a href="{% url 'fam' %}" class="nav-button" title="Назад">&lt;&lt; Назад</a>
    <a href="{% url 'cs' %}" class="nav-button" title="Вперёд">Вперёд &gt;&gt;</a>
</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>

</body>
</html>
