{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спорт</title>
    <link rel="stylesheet" href="{% static 'conprogs/css/styles.css' %}">
    <link type="text/css" href="{% static 'conprogs/css/styles_unique.css' %}" rel="stylesheet"/>
</head>
<body>

<header>
    <h1>Спорт</h1>
</header>
<ul>
    <li><a href="{% url 'home' %}">MAIN</a></li>
    {% for m in menu %}
    <li class="last">
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<section>
    <p class="section11">
    <span class="italic">Бей своих чтобы чужие боялись.</span> Как говорил ранее, с 6 лет занимался
    <span class="bold">тхэквондо</span>. Призер Сибирских, победитель краевых и участник всероссийских соревнований.
    Тренировался в школе олимпийского резерва. <span class="underline">Травмы</span> и большая любовь к футболу закончили мое выступление в данной дисциплине.
    Большое уважение к тренеру за его вложения в меня.
</p>

<p class="section12">
    <span class="bold">Профессионал?</span> Почти каждый мальчик, который влюбляется в футбол, хочет однажды оказаться на большом
    европейском стадионе в числе двадцати двух игроков. Победы и поражения чередовались с травмами, слезами и
    тяжелыми тренировками. По окончанию детско-юношеской школы, мне предложили подписать контракт с местной
    полупрофессиональной командой. <span class="strike">Отказался.</span>
</p>

<p class="section13">
    <span class="underline">Футбол и Москва.</span> Детство и юношество в футболе были как одно большое кино. Сильная и сплоченная команда.
    Футбол в Москве начался с попадания в сборную РосБиоТеха. Впоследствии, как и по сей день, я стал капитаном
    команды. Все бумажные и не только вопросы решаю лично. На поле тоже нужно оставаться лидером. Мы строим новую
    систему.
</p>
<img src="{% static 'conprogs/images/img_2.png' %}" alt="Фото" style="width:300px;height:auto;">
<p class="section14">
    <span class="bold">Успех не за горами.</span> Формирование команды заняло почти два года. Наконец мы получили готовый состав. Парни
    готовы бороться за каждый мяч и каждую минуту. Сейчас мы строим систему вокруг команды. Постоянные турниры,
    тренировки, медиа развитие. Мы голодны до побед. Нам еще есть что доказывать. Мы хотим, чтобы футбол в нашем
    университете жил.
</p>

<p class="section15">
    <span class="italic">Любитель.</span> Москва как мегаполис имеет множество возможностей, в том числе и спортивных. Любительские лиги
    в Москве на высоком уровне. Возможно, даже сыграешь когда-нибудь со своими кумирами детства. Футбол живет, когда
    им занимаются. Любительский футбол в Москве подарил мне возможность поддерживать форму и получать постоянную
    игровую практику.
</p>

</section>
<div class="navigation">
    <a href="{% url 'fam' %}" class="nav-button" title="Назад">&lt;&lt; Назад</a>
    <a href="{% url 'cs' %}" class="nav-button" title="Вперёд">Вперёд &gt;&gt;</a>
</div>

<footer>
    <p>&copy; 2024 Лысенков Филипп</p>
</footer>

</body>
</html>
