@media (min-width: 801px) {
    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        width: 1000px;
    }

    .container {
        display: grid;
        grid-template-areas:
            "logo header auth"
            "nav breadcrumb breadcrumb"
            "nav content content"
            "nav footer footer";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 10px;
        border: 5px inset rgb(158, 154, 154);
    }

    .logo {
        grid-area: logo;
        background-color: rgb(68, 0, 255);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .header {
        grid-area: header;
        background-color: rgb(255, 196, 0);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .auth {
        grid-area: auth;
        background-color: rgb(0, 255, 242);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .nav {
        grid-area: nav;
        flex-direction: column;
        background-color: rgb(204, 0, 255);
        padding: 10px;
        border: 1px solid black;
    }

    .breadcrumb {
        grid-area: breadcrumb;
        background-color: rgb(255, 0, 64);
        padding: 10px;
        text-align: left;
        border: 1px solid black;
    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas:
            "title title"
            "image text";
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        background-color: white;
        padding: 10px;
        border: 3px dashed rgb(255, 0, 0);
    }

    .title {
        grid-area: title;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border: 1px solid purple;
    }

    .content .image {
        background-color: lightgray;
        text-align: center;
        padding: 20px;
        border: 2px solid rgb(21, 255, 0);
    }

    .content .text {
        background-color: lightgray;
        text-align: center;
        padding: 20px;
        border: 2px solid rgb(14, 0, 143);
    }

    .footer {
        grid-area: footer;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        border: 2px solid rgb(38, 0, 255);
    }

    .nav-item {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 10px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .container {
        display: grid;
        grid-template-areas:
            "header header header"
            "logo auth auth"
            "nav nav nav"
            "breadcrumb breadcrumb breadcrumb"
            "content content content"
            "footer footer footer";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 10px;
        border: 5px inset rgb(158, 154, 154);
    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas:
            "title title"
            "image text";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
        background-color: white;
        padding: 10px;
        border: 3px dashed rgb(255, 0, 0);
    }

    .title {
        grid-area: title;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border: 1px solid purple;
    }

    .header {
        grid-area: header;
        background-color: rgb(255, 196, 0);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .logo {
        grid-area: logo;
        background-color: rgb(68, 0, 255);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .auth {
        grid-area: auth;
        background-color: rgb(0, 255, 242);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .nav {
        grid-area: nav;
        background-color: rgb(204, 0, 255);
        padding: 10px;
        border: 1px solid black;
    }

    .breadcrumb {
        grid-area: breadcrumb;
        background-color: rgb(255, 0, 64);
        padding: 10px;
        text-align: left;
        border: 1px solid black;
    }

    .content .image {
        background-color: lightgray;
        text-align: center;
        padding: 20px;
        border: 2px solid rgb(21, 255, 0);
    }


    .content .text {
        background-color: lightgray;
        text-align: center;
        padding: 20px;
        border: 2px solid rgb(14, 0, 143);
    }

    .footer {
        grid-area: footer;
        background-color: yellow;
        padding: 10px;
        text-align: center;
        border: 2px solid rgb(38, 0, 255);
    }

    .nav-item {
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 399px) {
    .footer {

        background-color: yellow;
        padding: 10px;
        text-align: center;
        border: 2px solid rgb(38, 0, 255);
    }

    .header {

        background-color: rgb(255, 196, 0);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .breadcrumb {

        background-color: rgb(255, 0, 64);
        padding: 10px;
        text-align: left;
        border: 1px solid black;
    }

    .auth {

        background-color: rgb(0, 255, 242);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .logo {

        background-color: rgb(68, 0, 255);
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 10px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    /* Шапка */
    .header {

        background-color: green;
        text-align: center;
        padding: 10px;
        border: 1px solid #000;
    }

    /* Навигация */
    .navigation {

        background-color: yellow;
        text-align: center;
        padding: 10px;
        border: 1px solid #000;
    }
    .nav-item {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .header1 {

        text-align: center;
        background-color: red;
        padding: 10px;
        border-style: dashed solid;
        border-color: yellow;
    }
    .content {
        border: 5px solid rgb(255, 3, 129);
        padding: 20px;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column {
        padding: 20px;
        border: 1px solid rgb(0, 250, 104);
        text-align: center;
    }
    .nav {
        grid-area: nav;
        flex-direction: column;
        background-color: rgb(204, 0, 255);
        padding: 10px;
        border: 1px solid black;
    }

    .header,
    .footer,
    .breadcrumb,
    .auth,
    .logo,
    .navigation,
    .header1,
    .content,
    .nav,
    .nav-item,
    .row,
    .column {
        width: 100%;
        max-width: 100%;
    }

}


